fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
redis
sqlalchemy
google-genai
groq
pinecone
sentence-transformers
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
ddgs
slack-sdk
jira
apscheduler
websockets
pytest
pytest-asyncio
pymupdf
python-multipart
pillow
python-docx
bcrypt
python-jose[cryptography]
sqlalchemy
psycopg2-binary
alembic
passlib[bcrypt]
bcrypt==4.0.1
pyjwt
requests
email-validator